.article-container {
    padding-bottom: 10px;
    border-top: 1px solid rgba(0,0,0, 0.1);
}

.article-innerContainer {
    max-height: 105px;
    overflow: hidden;
    padding: 1.5rem 0;
}

.article-userWrapper {
    display: flex;
    align-items: center;
}

.user-nameContainer {
    display: flex;
    margin: 5px 10px 0;
    flex-direction: column;
}

.user-name {
    display: block;
    font-weight: 700;
    width: fit-content;
    line-height: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(92,184,92, 0.9);
}

.user-name:hover{
    color: rgba(92,184,92, 1);
    text-decoration: underline;
}

.date {
    font-size: 0.8rem;
    font-weight: 500;
    color: rgba(0,0,0, 0.3);
}

.article-contentWrapper {
    cursor: pointer;
    margin-top: 10px;
}

.article-heading {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
}

.article-description {
    width: 80%;
    font-size: 1rem;
    line-height: 1.3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(0,0,0,0.4);
}

.user-image {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}